@import '~src/assets/theming/variables.scss';

.card {

  transition: box-shadow .25s;

  &-shadow:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  &__border-top {
    border-style: solid;
    border-width: 4px 1px 1px;

    &.primary {
      border-top-color: $primary;
    }
  }

}