<div
  class="sidebar"
  [ngClass]="{ 'open': isOpen }"
>
  <div class="sidebar_logo">
    <img src="assets/images/logo-n.png"/>
    <div class="sidebar_logo--span">ADMIN</div>
  </div>

  <ul class="sidebar_nav">
    <a class="sidebar_nav--link" *ngFor="let item of items" routerLink="{{ item.link }}">
      <li class="sidebar_nav--item" >
        <app-icon name="{{ item.icon }}" categorie="solid" size="small"></app-icon>
        <span
          class="sidebar_nav--span"
          [ngClass]="{ 'span_open': isOpen }"
        >
          {{ item.title }}
        </span>
      </li>
    </a>
  </ul>
</div>