<app-card
  (mouseenter)="toggleShowLink()"
  (mouseleave)="toggleShowLink()"
  class="user-card text-center"
  isHoverShadow="true"
  [ngClass]="{ 'hoverable': isShowLink }"
>
  <div>
    <img
      class="rounded-circle user-card_image"
      src="{{ user?.profile?.photo || 'assets/images/users/default.png' }}"
    />
  </div>
  <div class="mt-3">
    <p>{{user?.first_name + ' ' + user?.last_name}}</p>
  </div>
  <div class="user-card_links">
    <a class="ml-1">
      <app-icon categorie="brands" name="linkedin-in" size="{{ isShowLink ? 'small': 'tiny'}}"></app-icon>
    </a>
    <a class="ml-1">
      <app-icon categorie="solid" name="graduation-cap" size="{{ isShowLink ? 'small': 'tiny'}}"></app-icon>
    </a>
  </div>
  <div *ngIf="!user?.is_active">
    <a href="#" class="user-card_lock">
      <app-icon categorie="solid" name="user-lock" size="{{ isShowLink ? 'small': 'tiny'}}"></app-icon>
    </a>
  </div>

  <div *ngIf="user?.is_active" class="user-card_check">
    <app-icon categorie="solid" name="check" size="{{ isShowLink ? 'small': 'tiny'}}"></app-icon>
  </div>

  <!-- {{ user | json }} -->
</app-card>
