@import 'src/assets/theming/variables.scss';

.user-dropdown {

    &_user {
        &--image {
            height: 50px;
            width: 50px;
        }
    }

    &_menu {
        &--item {
            cursor: pointer;

            &:hover {
                color: $primary !important;
            }
        }
    }
}