<div class="form-group item_form" [formGroup]="formGroup">
  <app-form-label
    *ngIf="label"
    [ngClass]="{'error': isInvalid}"
    label="{{ label }}"
    class="{{ labelClasses }}"
  ></app-form-label>

  <input
    name="{{ name }}"
    formControlName="{{ name }}"
    placeholder="{{ placeHolder }}"
    class="form-control item_form--input {{ inputClasses }}"
    [ngClass]="{
      'error': isInvalid,
      'disabled': isDisabled
    }"
    type="{{ typeInput || 'text' }}"
    [attr.disabled]="isDisabled"
  />
  <ng-content></ng-content>
</div>