<div class="d-flex justify-content-center align-items-center h-100 login">
  <app-card class="login__card" classes="card__border-top primary">
      <h1 class="text-center mb-3">Sign in</h1>
      <form>
        <app-form-input
          [label]="'Email'"
          [placeHolder]="'joao@email.com'"
        ></app-form-input>

        <app-form-input
          [label]="'Password'"
          [placeHolder]="'Enter your password'"
        >
          <div class="d-flex justify-content-end">
            <a href="#" class="form-text small text-muted">
              Forgot password?
            </a>
          </div>
        </app-form-input>

        <app-button
          classes="btn-lg btn-block btn-primary mb-3"
        >Sign in</app-button>

        <p class="text-center">
          <small class="text-mutted text-center">
            Não tem uma conta ainda?
            <a routerLink="/register">Cadastre-se</a>
          </small>
        </p>
      </form>
  </app-card>
</div>