@import './assets/theming/variables.scss';

$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';

$theme-colors: (
  "primary": $primary
);

body {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg-white-smoke {
  background-color: #ECECEC;
}

@import '~ngx-toastr/toastr';

@import '~bootstrap/scss/bootstrap';