@import './assets/theming/variables.scss';

$theme-colors: (
  "primary": $primary
);

body {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg-white-smoke {
  background-color: #ECECEC;
}

@import '~ngx-toastr/toastr';

@import '~bootstrap/scss/bootstrap';