@import './assets/theming/variables.scss';

$theme-colors: (
  "primary": $primary,
  "venetian-red": $color-venetian-red,
  "success": $color-success,
);

body {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg-white-smoke {
  background-color: #ECECEC;
}

@import '~ngx-toastr/toastr';

@import '~bootstrap/scss/bootstrap';